@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(-45deg, #ffffff, #fff6fa, #f0f6ff, #fff2f2, #f8fff4);
  background-size: 400% 400%;
  animation: bg 12s ease infinite;
}

@media (prefers-color-scheme: dark) {
  body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(-45deg, #030303, #070007, #00000e, #0b0000, #000303);
    background-size: 400% 400%;
    animation: bg 12s ease infinite;
  }
}

@keyframes bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}
